html {
  height: 100%;
}

body {
  /* padding: 0px; */
  /* height: 100%; */
  background-color: rgb(138, 138, 153);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  /* background-image: linear-gradient(to bottom, rgb(138, 138, 153), rgb(160, 156, 156)); */
}